:root {
  --branding-color: hwb(240 14% 6%);
  --secondary-color: #7cdcdc;
  --third-color: #272142;
  --contrast-color: aliceblue;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 96px;
  font-weight: normal;
  font-family: var(--heading-font-family);
  color: var(--branding-color);
}

h2 {
  font-family: var(--heading-font-family);
  font-weight:bold;
  color: var(--third-color);
}

h3 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.logo {
  max-width: 100px;
  border: 3px solid var(--contrast-color);
}

.project-description {
  border: 4px solid var(--secondary-color);
  font-size: 20px;
}

.content-section {
  padding: 130px 20px;
  text-align: center;
}

.content-section h1 {
  font-size: 64px;
  line-height: 1;
  font-family: var(--heading-font-family);
}

.content-section h2, h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-photo {
  max-width: 80%;
  height: auto;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--contrast-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
}

.btn-branding-outline {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--contrast-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  color: var(--branding-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px
}

nav a {
  text-decoration: none;
  color: var(--third-color)
}

nav a:hover {
  color: var(--branding-color);
}

@media (max-width:960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-section-content {
    margin: 30px;
  }

  .content-section {
    text-align: center;
    padding: 0;
  }
}
